@page
@model PMS.Pages.ProjectTasks.IndexModel

@{
    ViewData["Title"] = "Tasks";
}
<div class="main-content">
    <div class="box">
        <div class="box-body d-flex justify-content-between pt-0 pb-0">
            <div class="search-form d-flex">
                <input type="text" placeholder="Client Name" class="form-control">
                <select class="form-control" id="inputState">
                    <option selected="">Select Company Name</option>
                    <option>Company 1 </option>
                    <option>Company 2</option>
                </select>
                <button type="submit" class="search d-flex"><i class="fas fa-search"></i>Search</button>
                <a href="#" class="add search d-flex me-2" data-toggle="modal" data-target="#add_client"><i class="fas fa-plus-circle mr-2"></i> New Task</a>

            </div>
         @*   <div class="list-action">
                <a class="list active" href="#" onclick="liststyle()"><i class="bx bx-menu"></i></a>
                <a href="#" class="list-board" onclick="listboard()"><i class="bx bxs-dashboard"></i></a>
                <a href="#" class="add" data-toggle="modal" data-target="#add_client">Add Client<i class="fas fa-plus-circle"></i></a>
            </div>*@
        </div>

    </div>
    <div class="box ">
                        <div class="box-header  pt-0">
                            <div class="me-auto">
                                <h4 class="card-title mb-0 fs-22">Recent Activity</h4>

                            </div>
                            <div class="card-options pr-3">
                                <div class="dropdown"> <a href="#" class="btn ripple btn-outline-light dropdown-toggle fs-14" data-bs-toggle="dropdown" aria-expanded="false"> See All <i class="feather feather-chevron-down"></i> </a>
                                    <ul class="dropdown-menu dropdown-menu-end" role="menu" style="">
                                        <li><a href="#">Monthly</a></li>
                                        <li><a href="#">Yearly</a></li>
                                        <li><a href="#">Weekly</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="box-body pb-0 table-responsive activity mt-18">
                            <table class="table table-vcenter text-nowrap table-bordered dataTable no-footer mw-100" id="task-profile" role="grid">
                                <thead>
                                    <tr class="top">
                                        <th class="border-bottom-0 sorting fs-14 font-w500" tabindex="0" aria-controls="task-profile" rowspan="1" colspan="1" style="width: 222.312px;">Name</th>
                                        <th class="border-bottom-0 sorting fs-14 font-w500" tabindex="0" aria-controls="task-profile" rowspan="1" colspan="1" style="width: 84.8281px;">Member</th>
                                        <th class="border-bottom-0 sorting fs-14 font-w500" tabindex="0" aria-controls="task-profile" rowspan="1" colspan="1" style="width: 87.9844px;">Start</th>
                                        <th class="border-bottom-0 sorting fs-14 font-w500" tabindex="0" aria-controls="task-profile" rowspan="1" colspan="1" style="width: 87.9844px;">End</th>
                                        @*<th class="border-bottom-0 sorting fs-14 font-w500" tabindex="0" aria-controls="task-profile" rowspan="1" colspan="1" style="width: 71.875px;">Progress</th>*@
                                        <th class="border-bottom-0 sorting fs-14 font-w500" tabindex="0" aria-controls="task-profile" rowspan="1" colspan="1" style="width: 71.875px;">Priority</th>
                                        <th class="border-bottom-0 sorting fs-14 font-w500" tabindex="0" aria-controls="task-profile" rowspan="1" colspan="1" style="width: 110.719px;">Work Status</th>
                                        <th class="border-bottom-0 sorting_disabled fs-14 font-w500" rowspan="1" colspan="1" style="width: 145.391px;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="odd">
                                        <td>
                                            <a href="#" class="d-flex "> <span>Design Updated</span> </a>
                                        </td>
                                        <td>
                                            <ul class="user-list mb-0">
                                                <li><img src="./images/avatar/user-1.png" alt="user"></li>
                                                <li><img src="./images/avatar/user-2.png" alt="user"></li>
                                                <li><img src="./images/avatar/user-3.png" alt="user"></li>
                                            </ul>
                                        </td>
                                        <td>12-02-2021</td>
                                        <td>16-06-2021</td>
                                        <td>
                                            High
                                        </td>
                                        <td><span class="badge badge-warning">On hold</span></td>
                                        <td>
                                            <div class="dropdown">
                                                <a href="javascript:void(0);" class="btn-link" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="bx bx-dots-horizontal-rounded"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right" style="">
                                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_client"><i class="bx bx-trash"></i> Delete</a>
                                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#edit_client"><i class="bx bx-edit mr-5"></i>Edit</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                   @* <tr class="even">
                                        <td>
                                            <a href="#" class="d-flex "> <span>Website Develop</span> </a>
                                        </td>
                                        <td>
                                            <ul class="user-list mb-0">
                                                <li><img src="./images/avatar/user-1.png" alt="user"></li>
                                                <li><img src="./images/avatar/user-2.png" alt="user"></li>
                                                <li><img src="./images/avatar/user-3.png" alt="user"></li>
                                            </ul>
                                        </td>
                                        <td>01-01-2021</td>
                                        <td>22-04-2021</td>
                                        <td>
                                            <div class="progress progress-sm">
                                                <div class="progress-bar bg-yellow w-50"></div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex"> <span class="badge badge-danger">Dealy</span>
                                                <div class="mt-1 ms-1"> <span class="feather feather-info text-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Dealy by 99 days"></span> </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <a href="javascript:void(0);" class="btn-link" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="bx bx-dots-horizontal-rounded"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_client"><i class="bx bx-trash"></i> Delete</a>
                                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#edit_client"><i class="bx bx-edit mr-5"></i>Edit</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="odd">

                                        <td>
                                            <a href="#" class="d-flex "><span>Digital Marketing</span> </a>
                                        </td>
                                        <td>
                                            <ul class="user-list mb-0">
                                                <li><img src="./images/avatar/user-1.png" alt="user"></li>
                                                <li><img src="./images/avatar/user-2.png" alt="user"></li>
                                                <li><img src="./images/avatar/user-3.png" alt="user"></li>
                                            </ul>
                                        </td>
                                        <td>11-04-2021</td>
                                        <td>16-06-2021</td>
                                        <td>
                                            <div class="progress progress-sm">
                                                <div class="progress-bar bg-primary w-100"></div>
                                            </div>
                                        </td>
                                        <td> <span class="badge badge-success">Complete</span> </td>
                                        <td>
                                            <div class="dropdown">
                                                <a href="javascript:void(0);" class="btn-link" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="bx bx-dots-horizontal-rounded"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_client"><i class="bx bx-trash"></i> Delete</a>
                                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#edit_client"><i class="bx bx-edit mr-5"></i>Edit</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="even">

                                        <td>
                                            <a href="#" class="d-flex "><span>Ad Analysis</span> </a>
                                        </td>
                                        <td>
                                            <ul class="user-list mb-0">
                                                <li><img src="./images/avatar/user-1.png" alt="user"></li>
                                                <li><img src="./images/avatar/user-2.png" alt="user"></li>
                                                <li><img src="./images/avatar/user-3.png" alt="user"></li>
                                            </ul>
                                        </td>
                                        <td>11-03-2021</td>
                                        <td>19-05-2021</td>
                                        <td>
                                            <div class="progress progress-sm">
                                                <div class="progress-bar bg-primary w-80"></div>
                                            </div>
                                        </td>
                                        <td> <span class="badge badge-success">Complete</span> </td>
                                        <td>
                                            <div class="dropdown">
                                                <a href="javascript:void(0);" class="btn-link" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="bx bx-dots-horizontal-rounded"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_client"><i class="bx bx-trash"></i> Delete</a>
                                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#edit_client"><i class="bx bx-edit mr-5"></i>Edit</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="odd">

                                        <td>
                                            <a href="#" class="d-flex "><span>Design update</span> </a>
                                        </td>
                                        <td>
                                            <ul class="user-list mb-0">
                                                <li><img src="./images/avatar/user-1.png" alt="user"></li>
                                                <li><img src="./images/avatar/user-2.png" alt="user"></li>
                                                <li><img src="./images/avatar/user-3.png" alt="user"></li>
                                            </ul>
                                        </td>
                                        <td>05-02-2021</td>
                                        <td>21-04-2021</td>
                                        <td>
                                            <div class="progress progress-sm">
                                                <div class="progress-bar bg-primary w-70"></div>
                                            </div>
                                        </td>
                                        <td> <span class="badge badge-success">Complete</span> </td>
                                        <td>
                                            <div class="dropdown">
                                                <a href="javascript:void(0);" class="btn-link" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="bx bx-dots-horizontal-rounded"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_client"><i class="bx bx-trash"></i> Delete</a>
                                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#edit_client"><i class="bx bx-edit mr-5"></i>Edit</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="even">

                                        <td>
                                            <a href="#" class="d-flex "><span>Design update</span> </a>
                                        </td>
                                        <td>
                                            <ul class="user-list mb-0">
                                                <li><img src="./images/avatar/user-1.png" alt="user"></li>
                                                <li><img src="./images/avatar/user-2.png" alt="user"></li>
                                                <li><img src="./images/avatar/user-3.png" alt="user"></li>
                                            </ul>
                                        </td>
                                        <td>21-01-2021</td>
                                        <td>15-03-2021</td>
                                        <td>
                                            <div class="progress progress-sm">
                                                <div class="progress-bar bg-primary w-40"></div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex"> <span class="badge badge-success">Complete</span>
                                                <div class="mt-1 ms-1"> <span class="feather feather-info text-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Dealy by 30 days"></span> </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <a href="javascript:void(0);" class="btn-link" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="bx bx-dots-horizontal-rounded"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_client"><i class="bx bx-trash"></i> Delete</a>
                                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#edit_client"><i class="bx bx-edit mr-5"></i>Edit</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="odd">

                                        <td>
                                            <a href="#" class="d-flex "><span>Design update</span> </a>
                                        </td>
                                        <td>
                                            <ul class="user-list mb-0">
                                                <li><img src="./images/avatar/user-1.png" alt="user"></li>
                                                <li><img src="./images/avatar/user-2.png" alt="user"></li>
                                                <li><img src="./images/avatar/user-3.png" alt="user"></li>
                                            </ul>
                                        </td>
                                        <td>23-01-2021</td>
                                        <td>25-02-2021</td>
                                        <td>
                                            <div class="progress progress-sm">
                                                <div class="progress-bar bg-yellow w-40"></div>
                                            </div>
                                        </td>
                                        <td> <span class="badge badge-success">Complete</span> </td>
                                        <td>
                                            <div class="dropdown">
                                                <a href="javascript:void(0);" class="btn-link" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="bx bx-dots-horizontal-rounded"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_client"><i class="bx bx-trash"></i> Delete</a>
                                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#edit_client"><i class="bx bx-edit mr-5"></i>Edit</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>*@

                                </tbody>
                            </table>
                        </div>
                    </div>
</div>