@page
@model PMS.Pages.ProjectUser.EditModel

@{
    ViewData["Title"] = "Edit";
}

@*<h1>Edit</h1>

<h4>ProjectUser</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProjectUser.UserId" class="control-label"></label>
                <select asp-for="ProjectUser.UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="ProjectUser.UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectUser.ProjectId" class="control-label"></label>
                <select asp-for="ProjectUser.ProjectId" class="form-control" asp-items="ViewBag.ProjectId"></select>
                <span asp-validation-for="ProjectUser.ProjectId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ProjectUser.Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
*@