@page
@model PMS.Pages.Conversations.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h4>Conversation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Conversation.AdminId" class="control-label"></label>
                <select asp-for="Conversation.AdminId" class="form-control" asp-items="ViewBag.AdminId"></select>
                <span asp-validation-for="Conversation.AdminId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Conversation.Type" /> @Html.DisplayNameFor(model => model.Conversation.Type)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Conversation.Name" class="control-label"></label>
                <input asp-for="Conversation.Name" class="form-control" />
                <span asp-validation-for="Conversation.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Conversation.Description" class="control-label"></label>
                <input asp-for="Conversation.Description" class="form-control" />
                <span asp-validation-for="Conversation.Description" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Conversation.Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
