@model WebApplication1.Data.Entities.ProjectAggregate.Project

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="row">
        <div id="comment-box" ></div>
    </dl>
    aaaaaaaaaaaaaaaaaaaaaa
</div>
       
